@import "../../../assets/scss/mixins";
@import "../../../assets/scss/settings";

:host {
  .small {
    font-size: 12px;
    text-align: center;
    margin: 15px 0 0;
    color: #333;
  }

  .form-container {
    margin: 40px auto 0;
  }

  form {
    max-width: 440px;
    margin: 0 auto;
    background: #fff;
    padding: 20px 20px 1px;
    box-shadow: 1px 1px 40px rgba(0,0,0,0.1);
  }

  .response {
    padding: 25px 30px;
    font-size: 18px;
    margin: 60px auto 0;
    max-width: 440px;
    text-align: center;
    box-shadow: 1px 5px 50px -16px rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 2px;

    &.success {
      background: #bada55;
    }

    &.failure {
      margin-bottom: -40px;
      background: #d82424;
    }

    & > div {
      @include flex-display();
      @include align-items(center);
      @include justify-content(center);
      @include flex-wrap(wrap);

      i {
        margin: 0 0 10px;
        font-size: 40px;
        display: block;
        width: 100%;
      }
    }
  }

  @include mobile {
    .response {
      padding: 20px 25px;
    }

    .response.failure {
      margin-bottom: -20px;
    }

    .form-container,
    .response {
      margin-top: 20px
    }
  }
}
