<app-msg-box [(success)]="success" [(error)]="error" style="form">
  {{success.message}}{{error.message}}
</app-msg-box>

<div class="small" *ngIf="success">Logging you in automatically in ({{redirectingIn}}) seconds</div>

<div class="container form-container" [ngClass]="{'has-error': error && error.message && !success}">
  <form
    [hidden]="success"
    novalidate
    (ngSubmit)="onSubmit(newPasswordForm)"
    #newPasswordForm="ngForm"
  >
    <div class="col-12">
      <h3 class="text-center">Report a bug</h3>
      <label for="new_password">
        New Password
        <input
          id="new_password"
          type="password"
          placeholder="SuperAw3s0m3Password"
          name="password"
          required
          validateEqual="confirm"
          reverse="true"
          [(ngModel)]="passwordDetails.password"
          #errorNewPassword="ngModel"
        />
        <div
          [hidden]="(errorNewPassword.valid || !errorNewPassword.dirty || !errorNewPassword.touched)"
          class="error"
        >Invalid</div>
      </label>
    </div>

    <div class="col-12">
      <label for="new_password_confirm">
        Confirm New Password
        <input
          id="new_password_confirm"
          type="password"
          placeholder="SuperAw3s0m3Password"
          name="confirm"
          required
          validateEqual="password"
          [(ngModel)]="passwordDetails.confirm"
          #errorPasswordConfirm="ngModel"
        />
        <div
          [hidden]="(errorPasswordConfirm.valid || !errorPasswordConfirm.dirty || !errorPasswordConfirm.touched)"
          class="error"
        >Invalid</div>
      </label>
    </div>

    <button
      type="submit"
      [disabled]="newPasswordForm.invalid || submitting"
    >{{newPasswordLabel}}&nbsp;<i class='icon-spinner spin' *ngIf="submitting"></i></button>
  </form>
</div>
