$icomoon-font-path: "assets/scss/fonts" !default;
$icomoon-font-hash: 'mwvl05';

$icon-download: \e91e;
$icon-arrow-up: \e906;
$icon-arrow-right: \e907;
$icon-arrow-left: \e908;
$icon-arrow-down: \e909;
$icon-close: \e914;
$icon-search: \e91a;
$icon-filter: \e91b;
$icon-empty-star: \e91c;
$icon-star: \e91d;
$icon-send: \e90a;
$icon-mail: \e90b;
$icon-check-outline: \e90c;
$icon-check-circle: \e90d;
$icon-close: \e914;
$icon-search: \e91a;
$icon-filter: \e91b;
$icon-empty-star: \e91c;
$icon-star: \e91d;
$icon-loading: \e913;
$icon-alert: \e919;
$icon-check: \e90e;
$icon-remove: \e905;
$icon-remove-circle: \e903;
$icon-trash: \e904;
$icon-spinner: \e902;
$icon-logout: \e901;
$icon-login: \e900;
$icon-triangle-up: \e90f;
$icon-triangle-right: \e910;
$icon-triangle-left: \e911;
$icon-triangle-down: \e912;
$icon-notification: \e917;
$icon-warning: \e918;
$icon-empty-hart: \e915;
$icon-hart: \e916;

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?#{$icomoon-font-hash}');
  src:  url('#{$icomoon-font-path}/icomoon.eot?#{$icomoon-font-hash}#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?#{$icomoon-font-hash}') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?#{$icomoon-font-hash}') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?#{$icomoon-font-hash}#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spin {
  display: inline-block;
  @include animation(spinner 1s infinite linear);
}



@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icon-download {
  &:before {
    content: unicode($icon-download);
  }
}
.icon-arrow-up {
  &:before {
    content: unicode($icon-arrow-up);
  }
}
.icon-arrow-right {
  &:before {
    content: unicode($icon-arrow-right);
  }
}
.icon-arrow-left {
  &:before {
    content: unicode($icon-arrow-left);
  }
}
.icon-arrow-down {
  &:before {
    content: unicode($icon-arrow-down);
  }
}
.icon-close {
  &:before {
    content: unicode($icon-close);
  }
}
.icon-search {
  &:before {
    content: unicode($icon-search);
  }
}
.icon-filter {
  &:before {
    content: unicode($icon-filter);
  }
}
.icon-empty-star {
  &:before {
    content: unicode($icon-empty-star);
  }
}
.icon-star {
  &:before {
    content: unicode($icon-star);
  }
}
.icon-send {
  &:before {
    content: unicode($icon-send);
  }
}
.icon-mail {
  &:before {
    content: unicode($icon-mail);
  }
}
.icon-check-outline {
  &:before {
    content: unicode($icon-check-outline);
  }
}
.icon-check-circle {
  &:before {
    content: unicode($icon-check-circle);
  }
}
.icon-close {
  &:before {
    content: unicode($icon-close);
  }
}
.icon-search {
  &:before {
    content: unicode($icon-search);
  }
}
.icon-filter {
  &:before {
    content: unicode($icon-filter);
  }
}
.icon-empty-star {
  &:before {
    content: unicode($icon-empty-star);
  }
}
.icon-star {
  &:before {
    content: unicode($icon-star);
  }
}
.icon-loading {
  &:before {
    content: unicode($icon-loading);
  }
}
.icon-alert {
  &:before {
    content: unicode($icon-alert);
  }
}
.icon-check {
  &:before {
    content: unicode($icon-check);
  }
}
.icon-remove {
  &:before {
    content: unicode($icon-remove);
  }
}
.icon-remove-circle {
  &:before {
    content: unicode($icon-remove-circle);
  }
}
.icon-trash {
  &:before {
    content: unicode($icon-trash);
  }
}
.icon-spinner {
  &:before {
    content: unicode($icon-spinner);
  }
}
.icon-logout {
  &:before {
    content: unicode($icon-logout);
  }
}
.icon-login {
  &:before {
    content: unicode($icon-login);
  }
}
.icon-triangle-up {
  &:before {
    content: unicode($icon-triangle-up);
  }
}
.icon-triangle-right {
  &:before {
    content: unicode($icon-triangle-right);
  }
}
.icon-triangle-left {
  &:before {
    content: unicode($icon-triangle-left);
  }
}
.icon-triangle-down {
  &:before {
    content: unicode($icon-triangle-down);
  }
}
.icon-notification {
  &:before {
    content: unicode($icon-notification);
  }
}
.icon-warning {
  &:before {
    content: unicode($icon-warning);
  }
}
.icon-empty-hart {
  &:before {
    content: unicode($icon-empty-hart);
  }
}
.icon-hart {
  &:before {
    content: unicode($icon-hart);
  }
}
