$mobileHeaderNavPadding: 6px;

header {
  height: 120px;
  background: #eee;
  color: $colorNav;
  position: fixed;
  top: 0;
  display: block;
  z-index: 1000;
  width: 100%;
  margin: 0 auto;

  .container {
    padding: 0;
    height: 100%;
  }

  ul.menu,
  ul.brand,
  ul.nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul.nav {
    i {
      color: $colorNav;
      padding: 10px 20px;
      height: 80px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  ul.brand {
    float: left;
  }

  ul.menu {
    @include respond-from($screenTablet) {
      display: none;
    }
    margin: 12px 10px 0;
    display: block;
    height: 33px;
    float: right;
    padding: 4px 6px 0;
    cursor: pointer;

    li {
      height: 3px;
      width: 28px;
      background: $colorNav;
      content: " ";
      margin-bottom: 6px;
      position: relative;
      @include transition(all 200ms ease);
      @include transform-origin(center center);
    }

    &.open {
      li {
        background: #ddd;
      }
      li {
        margin-bottom: 0;
      }
      li:nth-of-type(1) {
        top: 9px;
        @include transform(rotate(-45deg));
      }
      li:nth-of-type(2) {
        display: none;
      }
      li:nth-of-type(3) {
        top: 6px;
        @include transform(rotate(45deg));
      }
    }
  }

  ul.brand {
    padding: 16px 0 0 21px;

    li {
      display: block;
      float: left;
    }

    li.brand-name {
      div {
        font-size: 10px;
        margin: -3px 0 0 0px;
      }
    }
  }

  .logo-container {
    position: relative;
    .logo {
      position: relative;
      display: inline-block;
      width: 39px;
      margin: -5px 6px 0 3px;
      height: 39px;
      content: " ";
      z-index: 2;
    }
  }
}

@include respond-to($screenTablet) {
  header {
    height: 54px;
    box-shadow: 0 1px 8px 1px rgba(#000,.1);
    background: rgba(255, 255, 255, 0.85);

    .container {
      height: 54px;
    }

    ul.brand {
      padding: 13px 0 0 8px;
    }

    ul.nav {
      position: absolute;
      top: $headerHeight;
      left: -30px;
      width: 0%;
      overflow: hidden;
      background: lighten($bgNav, 5%);
      border-top: 1px solid $bgNav;
      border-bottom: 9px solid #fff;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.05);
      @include transition(all 200ms ease);

      &.open {
        left: 0;
        right: 0;
        width: 100%;
        z-index: 999;
        padding: 0;
        top: 54px;
      }

      li {
        padding: 0;
        margin: 0;
        display: block;
        width: 100%;
        border-bottom: 1px solid darken($bgNav, 10%);
        border-top: 1px solid darken($bgNav, 1%);

        &:first-of-type {
          border-top: none;
        }

        &:last-of-type {
          border-bottom: none;
        }

        a {
          line-height: 30px;
          padding: $mobileHeaderNavPadding ($mobileHeaderNavPadding * 2);
          text-decoration: none;
          display: block;
          color: $colorNav;
          font-size: 14px;
          border-left: 5px solid transparent;

          &:hover {
            padding-left: ($mobileHeaderNavPadding * 2.2);
            border-left: 5px solid $badass;
          }

          &.active {
            background: darken($bgNav, 1%);
            border-left: 5px solid $badass;
          }

          img {
            display: inline-block;
            height: 25px;
            margin: 0 8px -6px 0;
          }
        }

        &.login {
          min-height: 40px;
          span {
            line-height: 41px;
            width: 100%;

            i {
            padding: 11px 11px 11px 13px;
            line-height: 19px;
            display: inline-block;
            height: auto;
            width: auto;

            &:hover {
              cursor: pointer;
            }
          }
          }
        }
      }
    }
  }
}

@include respond-from($screenTablet) {
  header {
    background: rgba(255, 255, 255, 0.55);
    height: 60px;
    border-bottom: 1px solid #fff;

    .container {
      height: 60px;
      position: relative;
    }

    ul.nav,
    ul.brand {
      position: absolute;

      li.brand-name {
        display: none;
      }
    }

    ul.brand {
      left: 0;
      bottom: 0;
      padding: 0 0 5px 15px;
    }

    ul.nav {
      right: 0;
      bottom: -2px;
      left: 75px;
      display: block;
      line-height: $headerHeight;

      li {
        display: inline-block;
        border: none;
        float: left;
        height: 40px;
        line-height: 40px;

        &.login {
          float: right;
        }

        a {
          height: 40px;
          line-height: 27px;
          text-decoration: none;
          color: #666;
          padding: 0 15px;
          display: block;
          @include transition(all 300ms ease);

          &.active {
            color: #000;
            border-bottom: 3px solid $badass;
          }

          &:hover {
            color: #000;
            border-bottom: 3px solid darken($primary, 5%);
          }

          img {
            display: inline-block;
            height: 25px;
            margin: 0 8px -6px 0;
          }
        }
      }
    }
  }
}

@include respond-from($screenDesktop) {
  header {
    height: 100px;
    .container {
      height: 100px;

      ul.brand {
        padding: 0 0 10px;

        li.brand-name {
          position: relative;
          bottom: -8px;
        }
      }

      ul.nav {
        left: 60px;

        li a {
          font-size: 19px;
          padding: 0 25px;
        }
      }
    }
  }
}
