@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  background: #eee;
}
body {
  background: #eee url('assets/img/background_image.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 54px 0 0;
  min-height: 600px;

  @include respond-from($screenTablet) {
    padding: 60px 0 0;
  }

  @include respond-from($screenDesktop) {
    padding: 100px 0 0;
  }
}

.row.loading-heading {
    line-height: 20px;
    margin-top: 10px;
    text-align: center;
}

.block {
    margin: 0 auto;
    display: block;
}

a.small {
    font-size: $font-sm;
}

.message {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 15px;

  &.success {
    background: $badass;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    border: none;
  }

  &.error {
    background: rgba(#ea0000, 0.02);
    padding: 10px;
    border-radius: 0;
    border-color: #ea0000;
    color: darken(#ea0000, 2%);
  }

  .icon-spin {
    width: 40px;
    height: 40px;
    line-height: 42px;
  }

  small {
    font-size: 12px;
    text-align: center;
    display: block;
    width: 100%;
  }
}

.container.page-heading {
    margin-top: 25px;
    & > h1,
    & > h2,
    & > h3 {
        line-height: 38px;
        border-bottom: 1px solid #fff;
        box-shadow: 0 5px 14px -9px rgba(136, 136, 136, 0.7);
        & + h2,
        & + h3,
        & + h4,
        & + h5 {
            font-size: 14px;
            color: #8e8e8e;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            margin: -5px   6px 2px;
            font-weight: normal;
        }
    }

    &-alt{
        display: block;
        width: 100%;
        height: 10px;
        margin: 20px 0;
        position: relative;
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 1px;
            display: block;
            content: "";
            border-bottom: 1px solid #b9b9b9;
            box-shadow: 0 3px 10px 0px rgba(204, 204, 204, 0.7);
        }
    }

    &-gutter {
      display: block;
      min-height: 40px;
    }
}

.lazy-link {
    width: 100%;
}

label > input,
label > select,
label > textarea,
label > button {
  margin-left: 0;
}

label > textarea {
  max-width: none;
}

.clear,
.clearfix {
    @include clearfix();
}


.swiper-slide.episode,
.listing .episode {
  text-align: center;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  margin: 0 0 20px;
  height: auto;
  @include aspect-ratio(300, 441, '.inner');

  .heading,
  .airtime,
  .season {
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    right: 0;
    margin: 0 auto;
    padding: 0 10px;
    z-index: 10;
    color: #fff;

    &:after {
      z-index: -1;
    }
  }

  .poster {
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;

    &-img {
      width: 100%;
      height: 100%;
    }
  }

  .heading {
    font-size: 12px;
    color: #000;

    &:after {
      position: absolute;
      display: block;
      content: "";
      top: auto;
      padding-bottom: 30px;
      height: 20px;
      right: 2px;
      top: -10px;
      left: 2px;
      box-shadow: 0 5px 10px -5px rgba(#000, 0.05);

      @include border-radius(0px 0px 180px 180px / 0px 0px 22px 22px);
      @include vertical-gradient(rgba(#fff, 0.2), rgba(#fff, 0.9));
    }
  }

  .airtime {
    top: auto;
    font-size: 12px;
    bottom: 10px;

    &:after {
      position: absolute;
      display: block;
      content: "";
      top: auto;
      padding-top: 20px;
      height: 20px;
      right: 2px;
      bottom: -10px;
      left: 2px;

      @include border-radius(180px 180px 0px 0px / 22px 22px 0px 0px);
      @include vertical-gradient(rgba(#000, 0.7), rgba(#000, 0.2));
    }
  }
}

.episode-alert {
  position: relative;
  cursor: pointer;
  outline: none;

  //@include aspect-ratio(300, 441, '.inner');

  img {
    width: 100%;
    height: auto;
  }

  .btn {
    position: absolute;
    bottom: 20px;
    z-index: 1;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 65px;

    &:hover {
      box-shadow: 1px 1px 15px rgba(#000, 0.5);
    }
  }

  .count {
    position: absolute;
    top: -6px;
    right: auto;
    left: 17px;
    width: 30px;
    height: 30px;
    font-size: 13px;
    font-family: monospace;
    line-height: 30px;
    color: #fff;
    text-align: center;
    display: block;
    content: "";
    background: #e00e0e;
    z-index: 1;
    @include border-radius(50%);
  }

  &:before {
    position: absolute;
    display: block;
    content: "";
    top: auto;
    padding-bottom: 10px;
    height: 20px;
    right: 10px;
    top: 0;
    left: 10px;
    box-shadow: 0 5px 10px -5px rgba(#000, 0.05);

    @include border-radius(0px 0px 180px 180px / 0px 0px 22px 22px);
    @include vertical-gradient(rgba(#fff, 0.2), rgba(#fff, 0.9));
  }

  &:after {
    position: absolute;
    display: block;
    content: "";
    top: auto;
    padding-top: 20px;
    height: 0;
    right: 10px;
    bottom: 5px;
    left: 10px;

    @include border-radius(180px 180px 0px 0px / 22px 22px 0px 0px);
    @include vertical-gradient(rgba(#000, 0.7), rgba(#000, 0.2));
  }
}
