@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  background: #eee;
}
body {
  background: #eee url('assets/img/background_image.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 54px 0 0;
  min-height: 600px;

  @include respond-from($screenTablet) {
    padding: 60px 0 0;
  }

  @include respond-from($screenDesktop) {
    padding: 100px 0 0;
  }
}

.row.loading-heading {
    line-height: 20px;
    margin-top: 10px;
    text-align: center;
}

.block {
    margin: 0 auto;
    display: block;
}

a.small {
    font-size: $font-sm;
}

.message {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 15px;

    &.error {
        background: rgba(#ea0000, 0.02);
        padding: 10px;
        border-radius: 0;
        border-color: #ea0000;
        color: darken(#ea0000, 2%);
    }
}

.container.page-heading {
    margin-top: 25px;
    & > h1,
    & > h2,
    & > h3 {
        line-height: 38px;
        border-bottom: 1px solid #fff;
        box-shadow: 0 5px 14px -9px rgba(136, 136, 136, 0.7);
        & + h2,
        & + h3,
        & + h4,
        & + h5 {
            font-size: 14px;
            color: #8e8e8e;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            margin: -5px   6px 2px;
            font-weight: normal;
        }
    }

    &-alt{
        display: block;
        width: 100%;
        height: 10px;
        margin: 20px 0;
        position: relative;
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 1px;
            display: block;
            content: "";
            border-bottom: 1px solid #b9b9b9;
            box-shadow: 0 3px 10px 0px rgba(204, 204, 204, 0.7);
        }
    }

    &-gutter {
      display: block;
      min-height: 40px;
    }
}

.lazy-link {
    width: 100%;
}

label > input,
label > select,
label > textarea,
label > button {
  margin-left: 0;
}

label > textarea {
  max-width: none;
}

.icon-header-2:before {
    font-size: 0.8em;
    @extend .icon-header:before;
}

.clear,
.clearfix {
    @include clearfix();
}
