@import "../../assets/scss/settings.scss";
@import "../../assets/scss/mixins.scss";

:host {

  .swiper-container {
    width: 100%;
    margin: 0 auto 40px;
    height: auto;

    &-outer {
      h3 {
        font-weight: normal;
      }
      padding: 0 10px;
    }
  }

  .swiper-wrapper {
    position: relative;
    @include flex-wrap(no-wrap);
  }

  .swiper-slide {
    text-align: center;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.18);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    margin: 0 0 20px;
    height: auto;
    @include flex-display();

    .heading,
    .airtime,
    .season {
      position: absolute;
      top: 10px;
      left: 0;
      display: block;
      right: 0;
      margin: 0 auto;
      padding: 0 10px;
      z-index: 10;
      color: #fff;

      &:after {
        z-index: -1;
      }
    }

    .inner {
      padding-top: 147%;
      position: relative;
      display: block;
      width: 100%;
    }

    .poster {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      &-img {
        width: 100%;
        height: 100%;
      }
    }

    .heading {
      line-height: 18px;
      font-size: 16px;
      margin-bottom: -10px;

      &:after {
        position: absolute;
        display: block;
        content: "";
        top: auto;
        padding-bottom: 40px;
        height: 20px;
        right: 0;
        top: -10px;
        left: 0;

        @include vertical-gradient(transparent, rgba(#000, 0.85));
      }
    }

    .airtime {
      top: auto;
      font-size: 12px;
      bottom: 10px;

      &:after {
        position: absolute;
        display: block;
        content: "";
        top: auto;
        padding-top: 20px;
        height: 20px;
        right: 0;
        bottom: -10px;
        left: 0;

        @include vertical-gradient(rgba(#000, 0.55), transparent);
      }
    }

    .season {
      margin-top: -10px;
      position: relative;
      font-size: 14px;
      line-height: 16px;
      font-weight: normal;
    }
  }

  .row {
    position: relative;
  }
}
