<box type="container">
  <box type="xl error" icon="warning" flex="true" url="https://tvtracker.co.za">
    <div class="text-center" style="width: 100%;">
      <h3 class="text-center">BETA SITE</h3>
    </div><br>Currently a work in progress. For the current site go to https://tvtracker.co.za
  </box>
</box>

<box type="container">
  <box type="xl" flex="true">
    Soon enough you will be able to keep track of your favourite shows, and know exactly when that next episode will be coming out.
  </box>
</box>

<!--
{
  "id": "16390",
  "seriesid": "282670",
  "episodeid": "6193382",
  "emailed": "1",
  "online": "0",
  "timestamp": "1504379676",
  "seriesname": "Narcos",
  "image_url": "https://www.googleapis.com/download/storage/v1/b/tvtrackerv2.appspot.com/o/posters%2F282670-8.jpg?generation=1504034180030822&alt=media",
  "e": "1",
  "s": "3",
  "date": "1504216800",
  "count": "10",
  "slug": "narcos",
  "key": "S03E01",
  "human_time": "3 days ago"
}
 -->

<box type="container" *ngIf="alerts && alerts.length">
  <box type="xl" flex="true">
    <div class="text-center" style="width: 100%;">
      <h2>New episodes out</h2>
      <div class="flex flex-wrap">
        <div *ngFor="let alert of alerts" class="col-2 col-sm-6 col-md-3 episode-alert" [routerLink]="['/show/', alert.slug]">
          <div class="inner">
            <div class="count">{{alert.count}}</div>
            <img [src]="alert.image_url" />
            <div class="btn btn-sm" (click)="clearAlert(alert.seriesid, $event)">
              <span [hidden]="clearing && clearing[alert.seriesid]">Clear</span>
              <span [hidden]="!clearing || !clearing[alert.seriesid]"><i class="icon-spin icon-spinner"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </box>
</box>

<br />

<div class="container row col swiper-container-outer">
  <h3>Coming Soon</h3>
  <div id="future-pagination" class="swiper-pagination"></div>
  <div id="future-prev" class="swiper-button-prev"></div>
  <div id="future-next" class="swiper-button-next"></div>

  <div class="swiper-container swiper-container-future">
    <div class="swiper-wrapper">
      <div class="swiper-slide episode" *ngFor="let episode of futureEpisodes">
        <div class="swiper-lazy-preloader"></div>
        <a [routerLink]="['/show/', episode.slug]" class="inner">
          <h4 class="heading" *ngIf="episode.seriesname">{{episode.seriesname}} - {{episode.key}}</h4>
          <div class="airtime" *ngIf="episode.human_time">{{episode.human_time}}</div>
          <div class="poster" *ngIf="getImagePoster(episode)">
            <img width="100" height="auto" [attr.data-src]="getImagePoster(episode)" class="poster-img swiper-lazy" />
          </div>
        </a>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
</div>

<div class="container row col swiper-container-outer">
  <h3>Recent Episodes</h3>
  <div id="recent-pagination" class="swiper-pagination"></div>
  <div id="recent-prev" class="swiper-button-prev"></div>
  <div id="recent-next" class="swiper-button-next"></div>

  <div class="swiper-container swiper-container-recent">
    <div class="swiper-wrapper">
      <div class="swiper-slide episode" *ngFor="let episode of recentEpisodes">
        <div class="swiper-lazy-preloader"></div>
        <a [routerLink]="['/show/', episode.slug]" class="inner" *ngIf="!episode.test">
          <h4 class="heading" *ngIf="episode.seriesname">{{episode.seriesname}} - {{episode.key}}</h4>
          <div class="airtime" *ngIf="episode.human_time">{{episode.human_time}}</div>
          <div class="poster" *ngIf="getImagePoster(episode)">
            <img width="100" height="auto" [attr.data-src]="getImagePoster(episode)" class="poster-img swiper-lazy" />
          </div>
        </a>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
</div>
