@import "../../assets/scss/settings.scss";
@import "../../assets/scss/mixins.scss";

:host {

  h3 {
    font-weight: normal;
  }

  .listing {
    box {
      margin-bottom: 20px;

      input[type="text"] {
        margin: 0;
        background: #efefef;
      }
    }

    .row.grid-row {
      margin: 0 -10px;
    }
  }

  .swiper-container {
    width: 100%;
    margin: 0 auto;
    height: auto;

    &-outer {
      padding: 0;
    }

    @include respond-from(480px) {
      min-height: 220px;
    }

    @include desktop {
      min-height: 272px;
    }

    @include respond-from($screenJumbo) {
      margin: 0 auto 20px;
    }
  }

  .swiper-wrapper {
    position: relative;
    @include flex-wrap(no-wrap);
  }

  .row {
    position: relative;
  }

  @include respond-to($screenMobile) {
    .swiper-container {
      &-outer {
        padding: 0;
      }
    }
  }
}
