<box type="container">
  <box type="xl error" icon="warning" flex="true" url="https://tvtracker.co.za">
    <div class="text-center" style="width: 100%;">
      <h3 class="text-center">BETA SITE</h3>
    </div><br>Currently a work in progress. For the current site go to https://tvtracker.co.za
  </box>
</box>

<box type="container">
  <box type="xl" flex="true">
    Soon enough you will be able to keep track of your favourite shows, and know exactly when that next episode will be coming out.
  </box>
</box>

<div class="container row col">
  <!--<div *ngFor="let show of series | filter:show.slug:'game-of-thrones'" class="col col-3 col-md-4 col-sm-6 col-lg-3" [attr.data]="show | json">
    <h3>{{show.seriesname}}</h3>
    <div>Rated: {{show.rating}}</div>
    <div>Status: {{show.status}}</div>
    <div>Network: {{show.network}}</div>
    <div>Slug: {{show.slug}}</div>
    <div>Popularity: {{show.popularity}}</div>
    <br><br>
  </div>-->
</div>

<div class="container row col swiper-container-outer">
  <h3>Recent Episodes</h3>
  <div id="recent-pagination" class="swiper-pagination"></div>
  <div id="recent-prev" class="swiper-button-prev"></div>
  <div id="recent-next" class="swiper-button-next"></div>

  <div class="swiper-container swiper-container-recent">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let episode of recentEpisodes">
        <a href="#" class="inner">
          <h4 class="heading">{{episode.seriesname}} <div class="season">{{episode.key}}</div></h4>
          <div class="airtime">{{episode.human_time}}</div>
          <div class="poster">
            <img width="100" height="auto" [src]="episode.image_url" class="poster-img" />
          </div>
        </a>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
</div>

<div class="container row col swiper-container-outer">
  <h3>Coming Soon</h3>
  <div id="future-pagination" class="swiper-pagination"></div>
  <div id="future-prev" class="swiper-button-prev"></div>
  <div id="future-next" class="swiper-button-next"></div>

  <div class="swiper-container swiper-container-future">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let episode of futureEpisodes">
        <a href="#" class="inner">
          <h4 class="heading">{{episode.seriesname}} <div class="season">{{episode.key}}</div></h4>
          <div class="airtime">{{episode.human_time}}</div>
          <div class="poster">
            <img width="100" height="auto" [src]="episode.image_url" class="poster-img" />
          </div>
        </a>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
</div>
