<box type="container">
  <box type="xl error" icon="warning" flex="true" url="https://tvtracker.co.za">
    <div class="text-center" style="width: 100%;">
      <h3 class="text-center">BETA SITE</h3>
    </div><br>Currently a work in progress. For the current site go to https://tvtracker.co.za
  </box>
</box>

<box type="container">
  <box type="xl" flex="true">
    Soon enough you will be able to keep track of your favourite shows, and know exactly when that next episode will be coming out.
  </box>
</box>
