<app-series-info-box [(series)]="activeSeries" [(open)]="activeSeries"></app-series-info-box>

<box type="container" *ngIf="user && alerts && alerts.length">
  <box type="xl" flex="true">
    <div class="text-center" style="width: 100%;">
      <h2>New episodes out</h2>
      <div class="flex flex-wrap">
        <div *ngFor="let alert of alerts" class="col-2 col-sm-6 col-md-3 episode-alert" (click)="setActiveSeries(alert)">
          <div class="inner">
            <div class="count">{{alert.count}}</div>
            <div class="poster">
              <div class="poster-img">
                <div class="poster-inner">
                  <lazy width="100%" height="100%" [img]="getImagePoster(alert)"></lazy>
                </div>
              </div>
            </div>
            <div class="btn btn-xs" (click)="clearAlert(alert.seriesid, $event)">
              <span [hidden]="clearing && clearing[alert.seriesid]">Clear <i class="icon-trash"></i></span>
              <span [hidden]="!clearing || !clearing[alert.seriesid]"><i class="icon-spin icon-spinner"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </box>
</box>
