<box type="container" *ngIf="show && isMobile">
  <box type="xl" flex="true" >
    <div class="breadcrumbs">
      <a [routerLink]="['/home/']" class="link">All Shows</a>
      <a [routerLink]="['/series/']" class="link separator" *ngIf="user">My Shows</a>
    </div>
  </box>
</box>


<box type="container" *ngIf="show">
  <box type="xl" flex="true">
    <div class="masthead">
      <div class="poster">
        <div class="poster-img">
          <div class="inner">
            <img [src]="getImagePoster(show)" />
          </div>
          <div class="network" *ngIf="isMobile">{{show.network}}</div>
        </div>
        <div class="status" *ngIf="isMobile" [ngClass]="show.status | lowercase">{{show.status}}</div>
      </div>
      <div class="content">
        <div class="network" *ngIf="!isMobile">{{show.network}}</div>
        <h3 class="title">{{show.seriesname}}</h3>
        <div class="status" *ngIf="!isMobile" [ngClass]="show.status | lowercase">{{show.status}}</div>
        <div class="overview">{{show.overview}}</div>
      </div>
    </div>
  </box>
</box>

<box type="container" *ngIf="episodes">
  <box type="sm" flex="true" flextop="true">
    <div class="nav-dropdown dropdown" [ngClass]="{'open': dropdownOpen === true}" *ngIf="isMobile">
      <div (click)="toggleDropDownOpen()">{{(seasons[activeSeason] ? seasons[activeSeason]: 'Select a season')}}</div>
      <ul class="nav" *ngIf="isMobile">
        <li
          *ngFor="let season of seasons | keys"
          (click)="setActiveSeason(season.key)"
          [ngClass]="{'active': activeSeason == season.key}"
        >{{season.value}}</li>
      </ul>
    </div>

    <ul class="nav" *ngIf="!isMobile">
      <li
        *ngFor="let season of seasons | keys"
        (click)="setActiveSeason(season.key)"
        [ngClass]="{'active': activeSeason == season.key}"
        [appAutofocus]="activeSeason && activeSeason == season.key"
      >{{season.value}}</li>
    </ul>
  </box>

  <box type="lg" flex="true" flextop="true">
    <ul class="list">
      <li
        *ngFor="let episode of episodes | filter:'s':activeSeason"
        (click)="setActiveEpisode(episode.episodeid)"
      >
        <span class="key">{{episode.key}}</span>
        <span class="name">
          {{episode.name}}
          <span class="recent" *ngIf="episode.recent">Recent</span>
          <span class="future" *ngIf="episode.future">Coming soon</span>
        </span>
        <span class="human_time">{{(episode.date > 0 ? episode.human_time: 'TBD')}}</span>
        <div class="overview" *ngIf="activeEpisode && activeEpisode == episode.episodeid">
          <div class="inner">{{episode.overview}}</div>
        </div>
      </li>
    </ul>
  </box>
</box>
