<box type="container">
  <box type="xl error" icon="warning" flex="true" url="https://tvtracker.co.za">
    <div class="text-center" style="width: 100%;">
      <h3 class="text-center">BETA SITE</h3>
    </div><br>Currently a work in progress. For the current site go to https://tvtracker.co.za
  </box>
</box>

<box type="container">
  <box type="xl" flex="true">
    This is just a test page, nothing to see here really
  </box>
</box>

<div class="container">
  <!-- Slider main container -->
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</div>

<box type="container">
  <box type="xl" flex="true">XL Box</box>
</box>

<box type="container">
  <box type="lg" flex="true">LG Box</box>
  <box type="sm error" flex="true">SM BOX - Error</box>
</box>

<box type="container">
  <box type="md" flex="true">MD Box</box>
  <box type="sm" flex="true">SM Box</box>
  <box type="sm primary" flex="true">SM BOX - Primary</box>
</box>
