:host {
  .swiper-container {
    width: 600px;
    min-height: 300px;
    margin: 30px auto;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 30px rgba(#ccc, 0.5);

    .swiper-slide {
      text-align: center;
      line-height: 300px;
    }
  }
}
