:host {
  .captcha {
    margin: 0 auto 20px;
    text-align:center;

    #login-captcha,
    #register-captcha {
      display: inline-block;
    }
  }

  .message.success {
    margin: 65px auto 0;
  }
}
