<div class="row message error" *ngIf="error && error.message">{{error.message}}</div>

<form
    novalidate
    (ngSubmit)="onSubmit(loginDetailsForm)"
    #loginDetailsForm="ngForm"
>
	<div class="col-12">
		<label for="email">
			Email
			<input
				id="email"
				type="text"
				placeholder="Email"
				name="email"
				required
				[(ngModel)]="loginDetails.email"
	            #errorLoginEmail="ngModel"
			/>
			<div
	            [hidden]="(errorLoginEmail.valid || !errorLoginEmail.touched)"
	            class="error"
	        >Invalid</div>
		</label>
	</div>

	<div class="col-12">
		<label for="password">
			Password
			<input
				id="password"
				type="password"
				placeholder="Password"
				name="password"
				required
				[(ngModel)]="loginDetails.password"
	            #errorLoginPassword="ngModel"
			/>
			<div
	            [hidden]="(errorLoginPassword.valid || !errorLoginPassword.touched)"
	            class="error"
	        >Invalid</div>
		</label>
	</div>

	<button 
		type="submit" 
		[disabled]="loggingIn" 
		(click)="onSubmit(loginDetailsForm)" 
		[disabled]="loginDetailsForm.invalid"
	>{{action}}&nbsp;<i class='icon-spinner spin' *ngIf="loggingIn"></i></button>
</form>
