<div class="container text-center">
  <span
    class="btn"
    *ngFor="let actionType of actions"
    [ngClass]="{'active': actionType == action}"
    (click)="toggleAction(actionType)"
  >{{actionType}}</span>
</div>

<div class="row message error" *ngIf="error && error.message">{{error.message}}</div>

<!-- Login FORM -->
<form
  [hidden]="action !== 'Login'"
  novalidate
  (ngSubmit)="onSubmit(loginDetailsForm, 'login')"
  #loginDetailsForm="ngForm"
>
  <div class="col-12">
    <label for="email">
      Email
      <input
        id="email"
        type="text"
        placeholder="john.doe@example.com"
        name="email"
        required
        [(ngModel)]="loginDetails.email"
        #errorLoginEmail="ngModel"
      />
      <div
        [hidden]="(errorLoginEmail.valid || !errorLoginEmail.touched)"
        class="error"
      >Invalid</div>
    </label>
  </div>

  <div class="col-12">
    <label for="password">
      Password
      <input
        id="password"
        type="password"
        placeholder="SuperAw3s0m3Password"
        name="password"
        required
        [(ngModel)]="loginDetails.password"
        #errorLoginPassword="ngModel"
      />
      <div
        [hidden]="(errorLoginPassword.valid || !errorLoginPassword.touched)"
        class="error"
      >Invalid</div>
    </label>
  </div>

  <button
    type="submit"
    (click)="onSubmit(loginDetailsForm, 'login')"
    [disabled]="loginDetailsForm.invalid || loggingIn"
  >{{loginActionLabel}}&nbsp;<i class='icon-spinner spin' *ngIf="loggingIn"></i></button>
</form>

<!-- Register FORM -->
<form
  [hidden]="action !== 'Register'"
  novalidate
  (ngSubmit)="onSubmit(registerDetailForm, 'register')"
  #registerDetailForm="ngForm"
>
	<div class="col-12">
		<label for="email">
			Email
			<input
				id="email"
				type="text"
				placeholder="john.doe@example.com"
				name="email"
				required
				[(ngModel)]="registerDetails.email"
        #errorRegisterEmail="ngModel"
			/>
			<div
        [hidden]="(errorRegisterEmail.valid || !errorRegisterEmail.touched)"
        class="error"
      >Invalid</div>
		</label>
	</div>

	<div class="col-12">
    <label for="password">
      Password
      <input
        id="password"
        type="password"
        placeholder="SuperAw3s0m3Password"
        name="password"
        required
        [(ngModel)]="registerDetails.password"
        #errorRegisterPassword="ngModel"
      />
      <div
        [hidden]="(errorRegisterPassword.valid || !errorRegisterPassword.touched)"
        class="error"
      >Invalid</div>
    </label>
  </div>

  <div class="col-12">
		<label for="confirm">
			Confirm Password
			<input
				id="confirm"
				type="password"
				placeholder="SuperAw3s0m3Password"
				name="confirm"
				required
				[(ngModel)]="registerDetails.confirm"
        #errorRegisterConfirm="ngModel"
			/>
			<div
        [hidden]="(errorRegisterConfirm.valid || !errorRegisterConfirm.touched)"
        class="error"
      >Invalid</div>
		</label>
	</div>

	<button
		type="submit"
		[disabled]="registering || registerDetailForm.invalid"
		(click)="onSubmit(registerDetailForm, 'register')"
	>{{registerActionLabel}}&nbsp;<i class='icon-spinner spin' *ngIf="registering"></i></button>
</form>
