<header>
    <div class="container">
        <!-- BRAND -->
        <ul class="brand clickable" [routerLink]="['/home']">
        <li class="logo-container">
            <span class="logo">
            <img src="assets/img/logo_small.png" width="39" height="39" alt="logo" />
            </span>
        </li>
        <li class="brand-name">
            Tracker<span class="dot">&nbsp;</span><div>.co.za</div>
            </li>
        </ul>

        <!-- BURGER MENU -->
        <ul class="menu" (click)="toggleMenu()" [class.open]="menuOpen">
        <li></li>
        <li></li>
        <li></li>
        </ul>

        <!-- THE MENU THAT POPS OPEN -->
        <ul class="nav" [class.open]="menuOpen">
        <li *ngFor="let menuItem of menuItems">
            <a *ngIf="!menuItem.externals && canShowMenuItem(menuItem)" [routerLink]="[menuItem.slug]" [class.active]="menuItem.slug == activeMenu">
            {{menuItem.label}}
            </a>
            <a *ngIf="menuItem.external" target="_blank" href="{{menuItem.slug}}" [class.active]="menuItem.slug == activeMenu">
            <img *ngIf="menuItem.logo" [src]="menuItem.logo" /> {{menuItem.label}}
            </a>
        </li>

        <!-- Donations -->
        <li><a (click)="showDonationModal()"><span class="dollar">$</span> Donate</a></li>
        
        <!-- Login / Logout -->
        <li class="login">
            <span *ngIf="!user" (click)="showModal = !showModal">
            <i class="icon-login" title="Login Now"></i><span>Login</span>
            </span>
            <span (click)="logoff()" *ngIf="user">
            <i class="icon-logout" title="Logoff"></i><span>Logoff {{user.username}}</span>
            </span>
        </li>
        </ul>
    </div>
</header>

<!-- Login Modal -->
<app-modal [(visible)]="showModal">
    <app-login (onCloseModal)="onCloseModal()"></app-login>
</app-modal>
    
<!-- Donation Modal -->
<app-modal [(visible)]="donationModalVisible" type="modal-large">
    <div class="modal-inner">
        <app-donate [(open)]="donationModalVisible"></app-donate>
    </div>
</app-modal>