<box type="container">
  <box type="xl" flex="true" >
    <div class="breadcrumbs">
      <a [routerLink]="['/admin/users']" class="link" [ngClass]="{'active': type == 'users'}">Users</a>
      <a [routerLink]="['/admin/posters']" class="link separator" [ngClass]="{'active': type == 'posters'}">Posters</a>
    </div>
  </box>
</box>

<br />

<app-msg-box [(success)]="success" [(error)]="error" [autoHide]="true">
  {{success.message}}{{error.message}}
</app-msg-box>

<h3>{{type | ucfirst}}</h3>

<!-- Users -->
<box type="container" *ngIf="data && data.items && type == 'users'">
  <box type="xl" flex="true" >
    <div>
      <ul class="list clearfix">
        <li>
          <span class="list-item list-item-head list-item-xs">ID</span>
          <span class="list-item list-item-head list-item-lg">Username</span>
          <span class="list-item list-item-head list-item-lg">Email</span>
          <span class="list-item list-item-head list-item-sm">Admin</span>
          <span class="list-item list-item-head list-item-sm">Active</span>
          <span class="list-item list-item-head list-item-sm">Last Login</span>
          <span class="list-item list-item-head list-item-sm">Last Active</span>
        </li>
        <li *ngFor="let userData of data.items">
          <span class="list-item list-item-xs">{{userData.id}}</span>
          <span class="list-item list-item-lg">{{userData.username}}</span>
          <span class="list-item list-item-lg">{{userData.email}}</span>
          <span class="list-item list-item-sm">
            <span *ngIf="userData.level == 'admin'" class="success"><i class="icon-check-outline"></i></span>
            <span *ngIf="userData.level !== 'admin'">&nbsp;</span>
          </span>
          <span class="list-item list-item-sm">
            <span *ngIf="userData.activated === true" (click)="deactivate(userData.id)" class="success" title="Deactivate account">
              <i class="icon-check-outline"></i>
            </span>
            <span *ngIf="userData.activated === false" (click)="activate(userData.id)" class="failure" title="Activate account">
              <i class="icon-remove-circle"></i>
            </span>
          </span>
          <span class="list-item list-item-sm"><small>{{userData.login}}</small></span>
          <span class="list-item list-item-sm"><small>{{userData.active}}</small></span>
        </li>
      </ul>
    </div>
  </box>
</box>

<!-- Posters -->
<div class="listing" *ngIf="data && data.items && type == 'posters'">
  <box type="container">
    <box type="xl" flex="true" >
      <h3>Find a show by name</h3>
      <form novalidate #filterForm="ngForm">
        <label for="filter">
          <div class="input-label">Filter my shows</div>
          <input
            id="filter"
            type="text"
            placeholder="Game of Thrones"
            name="filter"
            [(ngModel)]="filter"
          />
        </label>
      </form>
    </box>
  </box>

  <div class="poster-admin-container" *ngIf="activeSeries">
    <div class="inner clearfix">
      <div class="close" (click)="activeSeries=false"><i class="icon-close"></i></div>

      <div class="poster main" *ngIf="getImagePoster(activeSeries)">
        <lazy width="319px" height="auto" [img]="getImagePoster(activeSeries)" class="poster-img swiper-lazy"></lazy>
      </div>

      <div *ngIf="activeSeries.posters && activeSeries.posters.length > 0">
        <div
          class="poster"
          (click)="setShowPoster(activeSeries, poster)"
          *ngFor="let poster of activeSeries.posters" title="Set this image as the poster for the show"
          [ngClass]="{'active': processing && processing == poster}"
        >
          <lazy width="100px" height="auto" [img]="getProvidePoster(poster)" class="poster-img swiper-lazy"></lazy>
        </div>
      </div>
    </div>
  </div>

  <app-swiper-placeholder *ngIf="!data.items || data.items.length == 0 && !activeSeries"></app-swiper-placeholder>
  <div class="row grid-row" *ngIf="data.items && data.items.length > 0 && !activeSeries">
    <div class="col col-sm-6 col-md-3 col-lg-2 col-2" *ngFor="let episode of data.items | search:'seriesname,overview':filter | readMore:showLoadMore">
      <div class="episode user-favorites">
        <a (click)="setActiveSeries(episode)" class="inner">
          <h4 class="heading" *ngIf="episode.seriesname">{{episode.seriesname}}</h4>
          <div class="airtime" *ngIf="episode.human_time">{{episode.human_time}}</div>
          <div class="poster" *ngIf="getImagePoster(episode)">
            <lazy width="100" height="100%" [img]="getImagePoster(episode)" class="poster-img swiper-lazy"></lazy>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row grid-row text-center" *ngIf="(!filter || filter == '') && !activeSeries">
    <div
      class="btn btn-default read-more"
      (click)="showMore()"
      *ngIf="data.items && data.items.length > 0"
    >
      Show more
      <span class="plus" [ngClass]="{'inactive': showLoadMore >= data.items.length}">&#43;</span>
      <span class="small">{{showLoadMore}} - {{data.items.length}}</span>
    </div>
  </div>
</div>
