@import "../../../assets/scss/settings.scss";
@import "../../../assets/scss/mixins.scss";


:host {

  .listing {
    .row.grid-row {
      margin: 0 -10px;

      > div {
        margin-bottom: 0;
      }
    }

    > box {
      h3 {
        width: 100%;
      }
      margin-bottom: 30px;
    }

    .episode.user-favorites {
      cursor: pointer;
    }

    .read-more {
      margin: 0 auto;
    }
  }

  .poster-admin-container {
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.18), 1px 1px 50px rgba(0, 0, 0, 0.1);

    .inner {
      position: relative;
      .close {
        cursor: pointer;
        display: block;
        text-align: center;
        color: #eee;
        font-size: 40px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 10px;
        right: 10px;
        @include transition(300ms all);

        &:hover {
          color: #999;
        }
      }
    }

    .poster {
      cursor: pointer;
      float: left;
      margin: 0 10px 10px 0;
      position: relative;

      &.active:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(#fff, 0.7);
        content: "Busy...";
        font-size: 12px;
        font-weight: bold;
        @include flex-display();
        @include align-items(center);
        @include justify-content(center);
      }
    }
  }

  box {
    .breadcrumbs {
      height: 32px;
      line-height: 32px;
      margin: -8px 0;

      a.link {
        padding: 0 10px;
        display: inline-block;
        min-width: 100px;
        text-align: center;

        &.active {
          font-weight: bold;
        }

        &.separator {
          border-left: 1px solid #ccc;
        }
      }
    }
  }

  ul.list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    border: 2px solid #ddd;
    display: inline-block;

    li {
      line-height: 44px;
      padding: 0;
      text-align: left;

      &:nth-of-type(odd) .list-item {
        background: darken(#fff, 2%);
      }

      > span {
        border-right: 1px solid #ccc;

        &:last-of-type {
          border-right: none;
        }
      }

      .list-item {
        float: left;
        display: inline-block;
        overflow: hidden;
        height: 44px;

        .success {
          color: #bada55;
        }

        i {
          font-size: 22px;
          padding: 0 10px;
          display: inline-block;
          cursor: pointer;

          &.icon-remove-circle {
            font-size: 18px;
          }
        }

        &.small {
          font-size: 12px;
        }

        .failure {
          color: maroon;
        }

        &:first-of-type {
          clear: both;
        }

        &.center {
          text-align: center;
        }

        &-head {
          background: rgba(#000, 0.07)!important;
          border-bottom: 1px solid #ccc;
        }

        &-xs {
          text-align: center;
          width: 40px;
        }

        &-sm {
          text-align: center;
          padding: 0 6px;
          width: 100px;
        }

        &-md {
          padding: 0 6px;
          width: 150px;
        }

        &-lg {
          padding: 0 10px;
          width: 250px;
        }

        &-xl {
          padding: 0 15px;
          width: 350px;
        }
      }
    }
  }
}
