<div class="container page-heading">
  <h1>Activating your account</h1>
</div>

<loading [(show)]="loading"></loading>

<div class="response" *ngIf="success || error" [ngClass]="{'success': success, 'failure': error}">
  <div *ngIf="success">
    <i class="icon-check-outline"></i>
    {{success.message}}
  </div>
  <div *ngIf="error">
    <i class="icon-remove"></i>
    {{error.message}}
  </div>
</div>

<div class="small" *ngIf="success">Logging you in automatically in ({{redirectingIn}}) seconds</div>
