@import "../../assets/scss/mixins";
@import "../../assets/scss/settings";

$modalZIndex: 10000;

$modalSmWidth: 400px;
$modalMdWidth: 600px;
$modalMinHeight: 200px;

$modalBackgroundColor: #fff;
$modalBoxShadow: 1px 1px 30px 5px rgba(0, 0, 0, 0.1);

.modal {
	&-background {
		background: rgba(62, 62, 62, 0.66);
		position: absolute;
		width: 0;
		height: 0;
		content: "";
		top: 0;
		bottom: auto;
		right: auto;
		left: 0;
    overflow: hidden;
		z-index: $modalZIndex;
	}

	&-container {
		content: "";
		position: absolute;
		position: fixed;
		overflow: hidden;
		background: $modalBackgroundColor;
		top: 50%;
		left: 50%;
		min-width: $modalSmWidth;
		max-width: $modalSmWidth;
		min-height: $modalMinHeight;
		z-index: ($modalZIndex + 1);
		box-shadow: $modalBoxShadow;
		@include transform-origin(center center);
		@include transform(translate(-50%, -60%));

    @include respond-to($screenTablet) {
      top: 38%;
      min-width: ($modalSmWidth - 100);
		}

		&.has-footer {
			padding-bottom: 40px;
		}
	}

	&-large {
		top: 10px;
		left: 10px;
		right: 10px;
		max-height: 800px;
		max-width: none;
		@include transform(none);
	}

	&-content {
		padding: 15px 20px;
	}

	&-header,
	&-content,
	&-footer {
		display: block;
	}

	&-close {
		position: absolute;
		display: inline-block;
		padding: 10px;
   	height: 40px;
   	width: 40px;
   	text-align: center;
   	right: 4px;
   	line-height: 20px;
   	font-family: monospace;
   	font-size: 42px;
   	color: #ddd;
    @include transition(all 200ms);

		&:hover {
			cursor: pointer;
			color: #333;
		}
	}

	&-header {
    font-family: $headingFont;
    color: #000;
    font-weight: bold;
	}

	&-footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		border-top: 1px solid #d6d6d6;
	}

	&-header,
	&-footer {
		min-height: 40px;
		padding: 12px 15px 0 15px;
	}
}
