<div class="feature-container">
  <div class="feature feature-sm feature-primary">
    <div class="inner flex-center">
        <i class="icon-heart-empty"></i>
        Track your favourite shows
    </div>
  </div>

  <div class="feature feature-sm">
    <div class="inner flex-center">
        <i class="icon-send"></i>
        Get notifications of when your show airs
    </div>
  </div>

  <div class="feature feature-md">
    <div class="inner image">
      <img [src]="poster" />
    </div>
  </div>
</div>
