<box type="container">
  <box type="xl error" icon="warning" flex="true" url="https://tvtracker.co.za">
    <div class="text-center" style="width: 100%;">
      <h3 class="text-center">BETA SITE</h3>
    </div><br>Currently a work in progress. For the current site go to https://tvtracker.co.za
  </box>
</box>

<box type="container">
  <box type="sm primary" icon="heart-empty" flex="true">Track your favourite shows</box>
  <box type="sm" icon="send" flex="true">Get notifications of when your show airs</box>
  <box type="md poster"><img [src]="poster" /></box>
</box>
