<box type="container">
  <box type="md primary" icon="empty-hart" flex="true">Track your favourite shows</box>
  <box type="md" icon="send" flex="true">Get notifications of when your show airs</box>
</box>

<box type="container">
  <box type="xl" flex="true">
    <app-typeahead></app-typeahead>
  </box>
</box>

<app-alerts></app-alerts>
<app-series-info-box [(series)]="activeSeries" [(open)]="activeSeries"></app-series-info-box>

<app-swiper-placeholder *ngIf="futureEpisodes.length == 0">
  <h3>Coming Soon</h3>
</app-swiper-placeholder>
<div class="container row col swiper-container-outer" *ngIf="futureEpisodes.length > 0">
  <h3>Coming Soon</h3>
  <div id="future-pagination" class="swiper-pagination"></div>
  <div id="future-prev" class="swiper-button-prev"></div>
  <div id="future-next" class="swiper-button-next"></div>

  <div class="swiper-container swiper-container-future">
    <div class="swiper-wrapper">
      <div class="swiper-slide episode" *ngFor="let episode of futureEpisodes">
        <div class="swiper-lazy-preloader"></div>
        <a (click)="setActiveSeries(episode)" class="inner">
          <h4 class="heading" *ngIf="episode.seriesname">{{episode.seriesname}} - {{episode.key}}</h4>
          <div class="airtime" *ngIf="episode.human_time">{{episode.human_time}}</div>
          <div class="poster" *ngIf="getImagePoster(episode)">
            <img width="100" height="auto" [attr.data-src]="getImagePoster(episode)" class="poster-img swiper-lazy" />
          </div>
        </a>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
</div>

<app-swiper-placeholder *ngIf="recentEpisodes.length == 0">
  <h3>Recent Episodes</h3>
</app-swiper-placeholder>
<div class="container row col swiper-container-outer" *ngIf="recentEpisodes.length > 0">
  <h3>Recent Episodes</h3>
  <div id="recent-pagination" class="swiper-pagination"></div>
  <div id="recent-prev" class="swiper-button-prev"></div>
  <div id="recent-next" class="swiper-button-next"></div>

  <div class="swiper-container swiper-container-recent">
    <div class="swiper-wrapper">
      <div class="swiper-slide episode" *ngFor="let episode of recentEpisodes">
        <div class="swiper-lazy-preloader"></div>
        <a (click)="setActiveSeries(episode)" class="inner" *ngIf="!episode.test">
          <h4 class="heading" *ngIf="episode.seriesname">{{episode.seriesname}} - {{episode.key}}</h4>
          <div class="airtime" *ngIf="episode.human_time">{{episode.human_time}}</div>
          <div class="poster" *ngIf="getImagePoster(episode)">
            <img width="100" height="auto" [attr.data-src]="getImagePoster(episode)" class="poster-img swiper-lazy" />
          </div>
        </a>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
</div>
