<div class="col col-6 col-sm-12 col-md-12 text-left" *ngIf="!emptySet">
  <div class="input-field">
    <label for="series">Find more shows to track
      <input id="series" type="text" placeholder="Game Of Thrones" class="validate filter-input" [(ngModel)]=query (keyup)=filter()>
    </label>
    <div class="suggestions" *ngIf="filteredList.length > 0">
      <ul>
        <li *ngFor="let item of filteredList">
          <a (click)="select(item)">
            <span [innerHtml]="item.seriesname | highlight:query"></span>
            <span title="Track {{item.seriesname}} now" class="track" (click)="trackSeries($event, item)">Track <i class="icon-hart"></i></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
